In [5]:
import numpy as np
import pandas as pd
import scipy.stats as ss

import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [ ]:
# Таблицы сопряженности

In [7]:
df = pd.read_csv('taxi_uber.csv', parse_dates = ['last_trip_date', 'signup_date'])

Описание данных

city – город

phone – основное устройство, которое использует водитель

signup_date – дата регистрации аккаунта (YYYYMMDD)

last_trip_date – дата последней поездки (YYYYMMDD)

avg_dist – среднее расстояние (в милях) за поездку в первые 30 дней после регистрации

avg_rating_by_driver – средняя оценка поездок водителем

avg_rating_of_driver – средняя оценка поездок водителя

surge_pct – процент поездок, совершенных с множителем > 1 (кажется когда большая загруженность и тд)

avg_surge – средний множитель всплеска за все поездки этого водителя

trips_in_first_30_days – количество поездок, которые совершил водитель в первые 30 дней после регистрации

luxury_car_user – TRUE, если пользователь в первые 30 дней использовал премиум-автомобиль

weekday_pct – процент поездок пользователя, совершенных в будние дни

In [11]:
df.describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,weekday_pct
count,50000.000000,49799.000000,41878.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,5.796827,4.778158,4.601559,1.074764,8.849536,2.278200,60.926084
std,5.707357,0.446652,0.617338,0.222336,19.958811,3.792684,37.081503
min,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,2.420000,4.700000,4.300000,1.000000,0.000000,0.000000,33.300000
50%,3.880000,5.000000,4.900000,1.000000,0.000000,1.000000,66.700000
75%,6.940000,5.000000,5.000000,1.050000,8.600000,3.000000,100.000000
max,160.960000,5.000000,5.000000,8.000000,100.000000,125.000000,100.000000

In [ ]:
1) построить таблицу сопряженности в зависимости от устройства и когда в последний день пользовался приложением (водитель)

In [14]:
df.value_counts('phone')

phone
iPhone     34582
Android    15022
dtype: int64

In [19]:
df['days_since_last_trip'] = df.last_trip_date.max() - df.last_trip_date

In [20]:
df

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,days_since_last_trip
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2,14 days
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0,57 days
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0,175 days
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0,2 days
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4,108 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,5.63,4.2,5.0,1.00,King's Landing,2014-06-05,iPhone,2014-01-25,0.0,0,False,100.0,26 days
49996,0.00,4.0,NaN,1.00,Astapor,2014-01-25,iPhone,2014-01-24,0.0,1,False,0.0,157 days
49997,3.86,5.0,5.0,1.00,Winterfell,2014-05-22,Android,2014-01-31,0.0,0,True,100.0,40 days
49998,4.58,3.5,3.0,1.00,Astapor,2014-01-15,iPhone,2014-01-14,0.0,2,False,100.0,167 days
49999,3.49,5.0,NaN,1.00,Astapor,2014-04-20,Android,2014-01-18,0.0,0,False,0.0,72 days

In [21]:
df['days_since_last_trip'] = df['days_since_last_trip'].dt.days # переводим в формат даты

In [23]:
df['churn'] = df.days_since_last_trip.apply(lambda x: 'churn' if x > 30 else 'not_churn')
df[['days_since_last_trip', 'churn']]

       days_since_last_trip      churn
0                        14  not_churn
1                        57      churn
2                       175      churn
3                         2  not_churn
4                       108      churn
...                     ...        ...
49995                    26  not_churn
49996                   157      churn
49997                    40      churn
49998                   167      churn
49999                    72      churn

[50000 rows x 2 columns]

In [24]:
pd.crosstab(df.churn, df.phone)

phone      Android  iPhone
churn
churn        11876   19057
not_churn     3146   15525

In [ ]:
#churn - выбывшие
#not_churn - действующие

In [ ]:
#смотрим тесноту связи между 2 качественными переменными ( в данном случае )

In [25]:
from scipy.stats import chi2_contingency, chi2

In [26]:
stat, p, dof, expected = chi2_contingency(pd.crosstab(df.churn, df.phone))

In [ ]:
#stat - сама формала статистика (импирическое значение)
#dof - число степеней свободы (n-1)*(m-1)
#p - p-value
#expected - ожидаемое значение

In [31]:
stat

3821.5510225559633

In [32]:
expected

array([[10315.89328,  6320.3096 , 14559.79712],
       [ 6218.10672,  3809.6904 ,  8776.20288]])

In [27]:
p

0.0

In [ ]:
#взаимосвязь между переменными есть

In [29]:
pd.crosstab(df.churn, df.city)

city       Astapor  King's Landing  Winterfell
churn
churn        12306            3767       15123
not_churn     4228            6363        8213

In [30]:
stat, p, dof, expected = chi2_contingency(pd.crosstab(df.churn, df.city))

In [34]:
stat, p

(3821.5510225559633, 0.0)

In [35]:
dof

2

In [36]:
expected

array([[10315.89328,  6320.3096 , 14559.79712],
       [ 6218.10672,  3809.6904 ,  8776.20288]])

In [37]:
import pandas as pd
from scipy.stats import chi2_contingency

In [41]:
contingency_table = pd.DataFrame([[11, 3, 8], [2, 9, 14], [12, 13, 28]])
contingency_table

    0   1   2
0  11   3   8
1   2   9  14
2  12  13  28

In [39]:
chi2_contingency(contingency_table)[0:3]

(11.942092624356777, 0.0177871146098607, 4)

In [43]:
stat, p, dof, expected = chi2_contingency(contingency_table)

In [44]:
p

0.0177871146098607